
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #1A0B2E;
  color: #FFFFFF;
}





/* universal code */


a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
.grad1{
    background: linear-gradient(to right, #F7E93F 0% , #FB09B4 51%  , #9100F8 100%  );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.container{
 
    max-width: 1600px;
    margin: 0 auto;
    

}

.btn1{
    height: 44px;
    padding: 12px 16px;
    border-radius: 50px;
    border: none;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right top, #F7E93F 0% , #FB09B4 51%  , #9100F8 100%  );
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}


.btn1:hover{
    background: linear-gradient(to right bottom , #F7E93F 0% , #FB09B4 51%  , #9100F8 100%) ;
    opacity: 0.9;
    transform: scale(1.1);
    transition: 0.5s;
}


.btn2{
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 50px;
    color: #00FF88;
    gap: 8px;
    border: 1px solid #00FF88;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}


.btn2:hover{
   background:linear-gradient(to right, #1A0B2E 0% ,#FB09B4 51% , #00FF88 100%);
   opacity: 0.9;

   transform: scale(1.1);
   transition: 0.5s;

}

/* Header */



.navbar{
    background-color: #1A0B2E;
    
    padding: 20px 5%;



    display: flex;
    justify-content: space-between;
    align-items: center;
}



.navbar h1{
    font-size: 2em;
    font-weight: 800;
    color: #FFFFFF;
}

.navbar ul{
    display: flex;
    gap: 32px;
}


.navbar ul  a{
color: #FFFFFF;
line-height: 120%;
font-size: medium;
opacity: 90%;
}

/* main */

/* banner Section */

.banner{
    background-image: url(assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* border: 1px solid orange; */

}


.banner .mic{
    /* border: 1px solid orange; */
    height: 350px;
    width: 350px;
    background: url(assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

}


.banner .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.banner .hero-content h1{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 800;
}

.banner .hero-content p{
    color: #FFFFFF;
    font-size: 16px;
    opacity: 80%;
}

.banner .banner-buttons{
    display: flex;
    margin-top: 20px;
    gap: 8px;
}

/* About Section */

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1A0B2E;
    padding: 50px 200px 120px 200px;
    gap: 80px;
}

.about hr{
    color: #FFFFFF;
    width: 90%;
    opacity: 50%;
}

.about .about-text{
    color:#FFFFFF;
    max-width: 1200px;
}

.about .about-text h2{
    font-size: 48px;
    font-weight: bold;
    height: 58px;
    margin-bottom: 20px;
}

.about  p{
    opacity: 80%;
}


.about .about-content{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    max-width: 1200px;
    gap: 80px;
}

.about .about-content h1{
    color: #00FF88;
    font-size: 48px;
    height: 58px;
}

.about .about-content p{
    color: #FFFFFF;
    height: 20px;
    opacity: 80%;
}





/* Why Choose section */
.whychoose{
    background-color: #230E3D;
    padding: 120px 5%; 
    display: flex;
    justify-content: center;
    
}

.whychoose-content{
    
    max-width: 1200px;
    

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.whychoose h1{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    height: 58px;
    margin-bottom: 20px;
    grid-column: span 3;
}

.whychoose img{
    height: 60px;
    width: 60px;
    align-self:start;
}


.whychoose h3{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    align-self: start;
}


.whychoose p{
    line-height: 24px;
    opacity: 60%;
    align-self: start;
}

.whychoose .card{
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
    gap: 16px;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.whychoose .card-1 {
    grid-row: span 2;
}


.whychoose .card-2 ,.whychoose .card-3 , .whychoose .card-4{
    grid-column: span 2;
}



/* Apps section */



.apps{

    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.apps .featured{
    max-width: 1200px;
    padding: 120px  0;
}

.apps .featured h2{
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.apps .featured .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

}

.featured .cards .card{
    background-color: #351165;
    border-radius:20px;
}

.featured .card .card-content{
    padding: 10px;
}
.featured .card .card-content h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.featured .card .card-content p{
    line-height: 24px;
    opacity: 60%;
}
.featured .card .card-content .clock{
    display: inline-flex;
    gap: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.featured .card iframe{
    width: 100%;
    /* height: 40%; */
}


.apps .host{
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apps .host h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.apps .host .host-card{
    background-color: #351165;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 40px;
}

.host .host-card .host-image{
    height: 200px;
    width: 200px;
}

.host .host-card .host-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.host .host-card .host-content h3{
    font-size: 32px;
    font-weight: bold;
}


.host .host-card .host-content p{
    opacity: 60%;
    line-height: 24px;
    
}


.host-card .host-content .host-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.host-card .host-content .host-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    height: 40px;
    
    border: 1px solid #FB09B4;
    border-radius: 50%;
    transition: 0.3s;
}

.host-card .host-content .host-logo a:hover {
    border-color: #FB09B4; 
    transform: scale(1.1);
}