
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}





/* universal code */


a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
.grad1{
    background: linear-gradient(to right, #F7E93F 0% , #FB09B4 51%  , #9100F8 100%  );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.container{
 
    max-width: 1600px;
    margin: 0 auto;
    

}

.btn1{
    height: 44px;
    padding: 12px 16px;
    border-radius: 50px;
    border: none;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right top, #F7E93F 0% , #FB09B4 51%  , #9100F8 100%  );
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}


.btn1:hover{
    background: linear-gradient(to right bottom , #F7E93F 0% , #FB09B4 51%  , #9100F8 100%) ;
    opacity: 0.9;
    transform: scale(1.1);
    transition: 0.5s;
}


.btn2{
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 50px;
    color: #00FF88;
    gap: 8px;
    border: 1px solid #00FF88;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

/* Header */



.navbar{
    background-color: #1A0B2E;
    
    padding: 20px 5%;



    display: flex;
    justify-content: space-between;
    align-items: center;
}



.navbar h1{
    font-size: 2em;
    font-weight: 800;
    color: #FFFFFF;
}

.navbar ul{
    display: flex;
    gap: 32px;
}


.navbar ul  a{
color: #FFFFFF;
line-height: 120%;
font-size: medium;
opacity: 90%;
}


.banner{
    background-image: url(assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid orange;

}


.banner .mic{
    border: 1px solid orange;
    height: 350px;
    width: 350px;
    background: url(assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

}


.banner .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.banner .hero-content h1{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 800;
}

.banner .hero-content p{
    color: #FFFFFF;
    font-size: 16px;
    opacity: 80%;
}

.banner .banner-buttons{
    display: flex;
    margin-top: 20px;
    gap: 8px;
}

